.main-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.main-menu-item{
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.main-menu-item a {
    display: block;
    height: 50px;
    padding: 0px 15px;
}
.main-menu-item a:hover{
    background: red;
}
header{
    border-bottom:1px solid #ccc;
    background: rgb(179, 255, 0);
}
.main-logo img{
    max-height: 50px;
}
.slider img{
    max-width: 100%;
}
.small-article img{
    max-width: 100%;
}

